<div class="center">
  <h1>Tech. Entry and Remote Jobs</h1>
  <table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Job Link</th>
        <th>Scraped At</th>
      </tr>
    </thead>
    <tbody>
      <% @job_listings.each_with_index do |job_listing, index| %>
      <tr>
        <td><%= job_listing.company_name %></td>
        <td style="text-align: center"><%= job_listing.job_title %></td>
        <td style="text-align: center" class="link">
          <%= link_to "Link", job_listing.job_link %>
        </td>
        <td class="scraped-at"><%= job_listing.created_at.localtime.strftime('%B %d, %Y %I:%M %p') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination"><%= will_paginate @job_listings %></div>
</div>
