<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tears Jobs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0N1F9HW5YP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-0N1F9HW5YP');
    </script>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag :stylesheet %>
  </head>

  <body class="center">
    <%= yield %>
  </body>
</html>
